*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background: #98adb3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator{
    background: #304452;
    padding: 20px;
    border-radius: 10px;
}


.calculator form input{
    border: 5px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(92, 78, 78, 0.1),5px 5px 15px rgba(114, 56, 56, 0.2);
    background: transparent;
    font-size: 20px;
    color: #dac4c4;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input#equal{
    width: 145px;
    background-color: rgb(37, 37, 182);
}

pre{
    color: rgb(75, 160, 163);
}
#first{
    background-color: rgb(173, 9, 9);
}